body {
    font-family: 'Times New Roman', serif;
    background-color: rgba(255, 182, 193, 0.5); 
    color: rgba(147, 112, 219, 1); 
    text-align: left;
}

h1, h2 {
    color: rgba(147, 112, 219, 1);
}

button {
    background-color: rgba(147, 112, 219, 1); 
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

button:hover {
    background-color: rgba(62, 41, 104, 0.8);
}
